<div class="center jumbotron">
  <h1>Nerdilandia</h1>
  <h2>Let the discussion begin!</h2>
</div>

<%= link_to "Log in", '#', class: "btn btn-lg btn-primary", id: "login" %>
<%= link_to "Sing up", '#', class: "btn btn-lg btn-primary", id: "signup" %>
